<div class="logos">
  Supported by:
  <a href="http://www.nasa.gov/"><img alt="NASA" src="images/nasa_logo-small.png" /></a>
  <a href="http://www.nceas.ucsb.edu/"><img alt="NCEAS" src="images/nceas_logo-small.png" /></a>
  <a href="http://www.iplantcollaborative.org/"><img alt="iPlant Collaborative" src="images/iplant-small.png" /></a>
  <a href="http://sbsc.yale.edu/"><img alt="YIBS/SBSC" src="images/sbsc_logo.png" /></a>
  <a href="http://mol.org/"><img alt="Map of Life" src="images/mol_logo_small.png" /></a>
</div>
