<hr class="featurette-divider">
<div class="logos-wide row">
  <p class="lead">Partners and Supporters:</p> <br />
  <div class="col-md-12 col-sm-12">
    <a href="http://www.yale.edu/"><img alt="Yale University" src="images/logos/yale_logo.png" /></a>
    <a href="http://www.ufl.edu/"><img alt="University of Florida" src="images/logos/uf_logo.png" /></a>
    <a href="http://www.buffalo.edu/"><img alt="University of Buffalo" src="images/logos/ub_logo.png" /></a>
    <a href="http://www.nasa.gov/"><img alt="NASA" src="images/logos/nasa_logo-small.png" /></a>
    <a href="http://www.nceas.ucsb.edu/"><img alt="NCEAS" src="images/logos/nceas_logo-small.png" /></a>
    <a href="http://www.iplantcollaborative.org/"><img alt="iPlant Collaborative" src="images/logos/iplant-small.png" /></a>
    <a href="http://bgc.yale.edu/"><img alt="Yale Center for Biodiversity and Global Change" src="images/logos/bgc_logo.jpg" /></a>
    <a href="http://mol.org/"><img alt="Map of Life" src="images/logos/mol_logo_small.png" /></a>
    <a href="http://earthengine.google.com/"><img alt="Google Earth Engine" src="images/logos/GoogleEarthEngine_v1.png" /></a>
    <a href="http://esri.com/"><img alt="ESRI" src="images/logos/esri-logo.png" /></a>
    <a href="http://microsoft.com/"><img alt="Microsoft" src="images/logos/ms_logo.png" /></a>
    <a href="https://www.descarteslabs.com/"><img alt="Descartes Labs" src="images/logos/dl_logo.png" /></a>
    <a href="https://www.wsl.ch/"><img alt="Swiss Federal Institute for Forest, Snow and Landscape Research WSL" src="images/logos/wsl-logo.png" /></a>
    <a href="https://eowilsonfoundation.org/"><img alt="E.O. Wilson Biodiversity Foundation" src="images/logos/eowb_logo.jpg" style="max-width:240px" /></a>
  </div>
</div>
