<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Website : The main EarthEnv website." />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{ page.title }}</title>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50401833-1', 'earthenv.org');
      ga('send', 'pageview');

    </script>

  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">EarthEnv</h1>
          <h2 id="project_tagline">Global environmental layers for climate, ecosystem and biodiversity research.</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

      {{ content }}

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer>
        <p class="pubcredit">Published with <a href="http://pages.github.com">GitHub Pages</a>.</p>
	<p>Supported by:
	  <a href="http://www.nasa.gov/"><img src="images/nasa_logo-small.png" /></a>
	  <a href="http://www.nceas.ucsb.edu/"><img src="images/nceas_logo-small.png" /></a>
	  <a href="http://www.iplantcollaborative.org/"><img src="images/iplant-small.png" /></a></p>
      </footer>
    </div>

  </body>
</html>
